<%- include('../partials/head.ejs') %>
<%- include('../partials/nav.ejs') %>
<body>

    <div class="container mt-4 mb-5">
        <h1>Etapas</h1>
        <form class="mt-4">
            <h4>Seletor de Visualização Rápida Por Vendedor</h4>
            <select name="vendedor" onchange="userSelect()" id="vendedor" class="form-control mb-4">
                <option value="0">Selecione uma Opção</option>
                <% vender.forEach(function(vender){ %>
                    <option><%= vender.nome_vendedor %></option>
                <% }) %>
            </select>
        </form>
        <div class="table-responsive">
            <table class="table table-striped table-bor dered" id="table" style="width: 100%">
                <thead>
                    <tr>
                        <th class="text-center">Cliente</th>
                        <th class="text-center">Situação</th>
                        <th class="text-center">Vendedor</th>
                        <th class="text-center">Valor</th>
                    </tr>
                </thead>
                <tbody id="tbody" class="text-center">
                    <% cliente.forEach(function(cliente){ %>
                        <tr>
                            <td><%= cliente.nome_cliente == '' ? 'Desconhecido' : cliente.nome_cliente %></td>
                            <% if(cliente.sit == 'P'){ %>
                                <td style="cursor: pointer;">Pendente</td>
                            <% }else{ %>
                                <td style="cursor: pointer;">Faturado</td>
                            <% } %>
                            <% if(cliente.alert == 'null' || cliente.alert == null){ %>
                                <td id="nomeClient" class="bg-light"><%= cliente.nome_vendedor %></td>
                            <% }else if(cliente.alert == 'pendente'){ %>
                                <td id="nomeClient" class="bg-danger"><%= cliente.nome_vendedor %></td>
                            <% }else if(cliente.alert == 'autorizado'){ %>
                                <td id="nomeClient" class="bg-success"><%= cliente.nome_vendedor %></td>
                            <% } %>
                            <td><%= cliente.valor %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <!-- <div style="width: 100px; height: 100px;" id="ablock" class="bg-success"></div> -->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(()=> {
            $('#table').DataTable({
                "info": false
            });
        })

        function userSelect(){
            var vendedorData = document.getElementById('vendedor').value

            console.log('Usuário: ' + vendedorData)

            if(vendedorData != '0'){
                $.ajax({
                    method: 'POST',
                    url: '/vendas-pendentes',
                    data: {
                        vendedor: vendedorData
                    },
                    complete: (xhr) => {
                        response = xhr.responseJSON;
                        console.log(response['data'].length)
                        var itens = '';
                        for(let i = 0; response['data'].length > i; i++){
                            itens += "<tr>"
                            itens += "<td>"+ response['data'][i].nome_cliente +"</td>"
                            itens += "<td>"+ response['data'][i].sit +"</td>"
                            itens += "<td>"+ response['data'][i].nome_vendedor +"</td>"
                            itens += "<td>"+ response['data'][i].valor +"</td>"
                            itens += "</tr>"
                        }
                        $('#tbody').empty().append(itens)
                    }
                })
            }
        }

        /* var block = document.getElementById('ablock')
        block.addEventListener('click', () => {
            if(block.classList == 'bg-success'){
                block.classList.replace('bg-success', 'bg-danger')
            }else{
                block.classList.replace('bg-danger', 'bg-success')
            }
        }) */

        var tdDanger = document.getElementById('nomeClient')
        var tabela = document.getElementById('tbody')
        tabela.addEventListener('click', (result) => {

            var dataInTable = result.srcElement.parentElement.children
            var res = []
            for(var i = 0; dataInTable.length > i; i++){
                console.log(dataInTable[i].textContent)
                res.push(dataInTable[i].textContent)
            }

            var teste = confirm(`Você está enviando um alerta para o usuário ${res[2]}! Deseja continuar?`)
            if(teste == null || teste == ""){
                return;
            }else{
                alert('Dados atualizados!')
                $.ajax({
                    method: 'POST',
                    url: '/pendencia',
                    data: {
                        client: res[0],
                        sit: res[1],
                        vend: res[2]
                    },
                    complete: (xrr) => {
                        respons = xrr.responseJSON
                        location.reload();
                        //var alert = respons['data'][0]['alert']
                        //console.log('this is return: ' + alert)
                    }
                })
            }

            
        })

    </script>

</body>
</html>