<%- include('../partials/head.ejs') %>
<body>
    <div class="container mt-4">
        <h1>Bem Vindo, <%= usuario %></h1>
        <form>
            <select name="vendedor" onchange="userSelect()" id="vendedor" class="form-control mb-4">
                <option value="0">Selecione uma Opção</option>
                <% vender.forEach(function(vender){ %>
                    <option><%= vender.vendedor %></option>
                <% }) %>
            </select>
        </form>
        <table class="table table-striped table-bor dered" id="table" style="width: 100%">
            <thead>
                <tr>
                    <th class="text-center">Cliente</th>
                    <th class="text-center">Loja</th>
                    <th class="text-center">Vendedor</th>
                    <th class="text-center">Valor</th>
                </tr>
            </thead>
            <tbody id="tbody" class="text-center">
                <% cliente.forEach(function(cliente){ %>
                    <tr>
                        <td><%= cliente.cliente == '' ? 'Desconhecido' : cliente.cliente %></td>
                        <td><%= cliente.loja == '' ? 'Não Informado' : cliente.loja %></td>
                        <td><%= cliente.vendedor %></td>
                        <td><%= cliente.valor %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

    <script>
        $(document).ready(()=> {
            $('#table').DataTable();
        })

        function userSelect(){
            var vendedorData = document.getElementById('vendedor').value

            console.log('Usuário: ' + vendedorData)

            if(vendedorData != '0'){
                $.ajax({
                    method: 'POST',
                    url: '/vendas-pendentes',
                    data: {
                        vendedor: vendedorData
                    },
                    complete: (xhr) => {
                        response = xhr.responseJSON;
                        console.log(response['data'].length)
                        var itens = '';
                        for(let i = 0; response['data'].length > i; i++){
                            itens += "<tr>"
                            itens += "<td>"+ response['data'][i].cliente +"</td>"
                            itens += "<td>"+ response['data'][i].loja +"</td>"
                            itens += "<td>"+ response['data'][i].vendedor +"</td>"
                            itens += "<td>"+ response['data'][i].valor +"</td>"
                            itens += "</tr>"
                        }
                        $('#tbody').empty().append(itens)
                    }
                })
            }
        }
    </script>

</body>
</html>